div.container{
	margin: 0px auto;
	border-style: solid;
	border-width: 0px;
	padding: 0px;
	max-width:100%;
	height: auto;	
	background-color: none;
	color: none;
}

.header{
	margin: 0px;
	border: 0px;
	padding: 0px;
	height: 60px;
	background-color:#7C7C7C;
	float:top;	
}

.body {
    width: 100%;
    height:auto;
    overflow:auto;
    border-color: none;
    border-width: 0px;
}

.left {
    float:left; 
    width: 20%;
	background:#037085;
    height: 620px;
    border-color: black;
    border-width: 0px;
}

.right {
	display: inline;
	float: right;
	width: 80%;
    background:green;
    height: 620px;    
}

.up{		
	max-height: 560px;
	background: white;
}

.down{				
	height: 60px;
	background: #E9F7F9;
}

.footer{
	margin: 0px;
	border: 0px;	
	padding: 5px;	
	height: 10px;	
	font-size: 10px;
	font-family: sans-serif;	
	color:#ffffff;
	text-align: center;
	vertical-align: middle;
	background-color:#373939;	
}

.navleft{
	background-color: black;
	height:60px;
	width: 20%;
	float:left;
	border:0px;
	margin:0px;	
}

.col-lg-6{
	width: 50%;
	height: 100%;	
	background-color:#226068;
	display: inline;
	float:left;	
	color: white;
	font-family:sans-serif;
	vertical-align: middle;
}

.unorder{    
    margin:auto;
    border: 0px;
    padding-left: : 10px;
    margin-top: 20px;    
    width: 70%;
    list-style-type: none;
    background-color: #226068;
}

.unorder-item{ 	  
    color: #226068;
    background-color: #ffffff;
    display: block;
    padding: 1.5ex 2ex;
    text-decoration: none;
    font-size: 1.2em;
}
				
.unorder-item:hover{
	color: #ffffff;
    background-color: #226068;    
}
