body{
	background-color:#e6ebff;
	font-family: arial,sans-serif;
	font-style: 14px;
}



h1{
	margin:19px;
	color:#ffffff;

}

.pro img{
	margin:15px ;
}


.pro{
	border-radius:10px;
	height:270px;
	background-color:#4da6ff;
}


.profile{
	width:1000px;
	margin:100px auto ;
}

input{

	width:100%;
	border-radius: 10px;
	padding:15px;
	
	border-style: solid;
	border-color:#e6ebff;
	

	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;	
}


.but_1{

	width:50%;
	padding:10px;
	border-radius: 10px;
	margin:20px 0 0 0;
	border-style: solid;
	background-color:#4da6ff;
	color:#ffffff;
	float:right;
	font-size: 17px;
	

}

.but_2{

	width:50%;
	padding:10px;
	border-radius: 10px;
	margin:20px 0 0 0;
	float:left;
	border-style: solid;
	background-color:#4da6ff;
	color:#ffffff;
	font-size: 17px;

}

